# Dependencies
node_modules/
mobile/node_modules/

# Build output
dist/
mobile/.build-env/
mobile/android/.gradle/
mobile/android/build/
mobile/android/app/build/
mobile/android/.idea/
mobile/android/local.properties
mobile/android/*.iml
mobile/android/app/*.iml

# Binaries
*.exe
!*.exe.md
*.apk
*.aab

# Temp files
node.zip
node-temp/

# Environment
.env
.env.local

# OS files
Thumbs.db
Desktop.ini
.DS_Store

# Editor
.vscode/
*.swp
*.swo
